<tr id="company_<%= company.id %>">
  <td><%= company.name %></td>
  <td><%= link_to 'Show', company %></td>
  <td><%= link_to 'Edit'  %></td>
  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>